body {
	background-color: white;
	color: black;
}

div {
	padding-bottom: 10px;
	background-color: #6FF;
	width: 220px;
}

ul.menu {
	display: none;
	list-style-type: none;
	margin-top: 5px;
}

a.menuLink {
	font-size: 16px;
	font-weight: bold;
}

a {
	text-decoration: none;
}